<footer class="footer">
  <div class="footer-container footer-pad">
    <div class="footer-blocks">
      <ul class="footer-list">
        <li class="footer-link">
          <img
            class="footer-link-image"
            src="../img/footer/img vegetables.jpg"
            alt="broccoli"
            width="335"
            height="172"
          />
        </li>
        <li class="footer-link">
          <nav class="footer-nav">
            <a class="footer-svg" href="./index.html">
              <svg class="footer-logo" width="16" height="16">
                <use href="../img/footer/icons.svg#icon-vector-1"></use>
              </svg>
            </a>
            <a class="logo-text" href="./index.html">Veggieboost</a>
          </nav>
        </li>
      </ul>
      <ul class="footer-list-nav">
        <li>
          <a class="footer-list-nav-link" href="">How It Works</a>
        </li>
        <li>
          <a class="footer-list-nav-link" href="">Vegetables</a>
        </li>
        <li>
          <a class="footer-list-nav-link" href="">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="footer-soc">
      <ul class="footer-soc-list">
        <li class="footer-soc-object">
          <a class="footer-soc-link" href="https://uk-ua.facebook.com/">
            <svg class="social-media-icon" width="24" height="24">
              <use href="/img/footer/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-object">
          <a class="footer-soc-link" href="https://www.instagram.com/">
            <svg class="social-media-icon" width="24" height="24">
              <use href="/img/footer/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-object">
          <a class="footer-soc-link" href="https://www.youtube.com/">
            <svg class="social-media-icon" width="24" height="24">
              <use href="/img/footer/icons.svg#icon-youtub"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-contact">
        <ul class="footer-contact-list">
            <il class="footer-contact-link">
                <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </il>
            <il class="footer-contact-link">
                <address class="footer-address">
                    1678 S. Pioneer Road 
                    Salt Lake City                
                    UT 84104
                </address>
            </il>
        </ul>
    </div>
  </div>
</footer>
