<footer class="footer">
    <div class="footer-container footer-pad">
        <div class="footer-blocks">
            <ul class="footer-list">
                <li class="footer-link">
                    <img class="footer-link-image"
                    src="../img/footer/img vegetables.jpg"
                    alt="broccoli"
                    width="335"
                    height="172"/>
                </li>
                <li class="footer-link">
                    <nav class="footer-nav">
                        <a class="footer-svg" href="./index.html">
                            <svg class="footer-logo" width="16" height="16">
                                <use href="/img/icons.svg#icon-vector9"></use>
                            </svg>
                        </a>
                        <a class="logo-text" href="./index.html">Veggieboost</a>    
                    </nav>
                </li>    
            </ul>
            <ul class="footer-list-nav">
                <li>
                    <a class="footer-list-nav-link" href="">How It Works</a>
                </li>
                <li>
                    <a class="footer-list-nav-link" href="">Vegetables</a>
                </li>
                <li>
                    <a class="footer-list-nav-link" href="">Contacts</a>
                </li>
            </ul>
        </div>

    </div>

</footer>
