<footer class="footer">
    <div class="footer-container">
        <div class="footer-blocks">
            <ul class="footer-list">
                <li class="footer-link">
                    <a class="footer-image" href="">
                        <svg>
                            <use></use>
                        </svg>
                    </a>    
                </li>
                <li class="footer-link">
                    <a class="footer-logo" href="">
                        <svg>
                            <use></use>
                        </svg>
                    </a>
                </li>    
            </ul>
        </div>

    </div>

</footer>
