<header class="header">
    <div class="head-nav header-container">
      <nav class="header-nav">
        <ul class="nav-list list">
            <li><a class="header-item active link" href="./index.html">How It Works</a></li>
            <li><a class="header-item active link" href="./index.html">Vegetables</a></li>
            <li><a class="header-item active link" href="./index.html">Contacts</a></li>
        </ul>
        <div class="header-logo">
        <a class="logo-svg" href="./index.html">
            <svg class="logo-header" width="16" height="16"><use href="./img/header/header.svg#icon-vector9"></use></svg>
        </a>
        <a class="logo link" href="./index.html">Veggieboost</a>   
      </div>
        <a class="header-item-svg" href="#"><svg class="header-item-backet" width="20" height="20"><use href="./img/header/header.svg#icon-shopping-cart3"></use>
        </svg>
      </a>
      </nav>
    </div>

    <button class="header-bt js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
    type="button">
    <svg class="" width="24" height="24"><use href="./img/header/header.svg#icon-gg_menu-left1"></use>
    </svg>
</button>
</header>
<!-- -------------- mobile-menu--------------->

<div class="mob-menu js-menu-container" id="mobile-menu" >
<nav class="header-nav-mob mob-container">
    <a class="logo-svg" href="./index.html">
      <svg class="logo-header" width="16" height="16"><use href="./img/header/header.svg#icon-vector9">
      </use>
      </svg>
    </a>
    <a class="logo link" href="./index.html">Veggieboost</a>    
</nav>
<button class="close-menu-bt js-close-menu" type="button"><svg class="button_icon" width="24" height="24">
    <use href="./img/header/header.svg#icon-x4"/></use>
  </svg>
</button>
<div class="mb-menu-list">
    <ul class="mb-list list">
      <li class="mob-menu-item"><a class="mb-links link active" href="#">How It Works</a></li>
      <li class="mob-menu-item"><a class="mb-links link active" href="#">Vegetables</a></li>
      <li class="mob-menu-item"><a class="mb-links link active" href="#">Contacts</a></li>
      <a class="mob-menu-svg" href="#"> <svg class="mob-menu-backet active" width="20" height="20"><use href="./img/header/header.svg#icon-shopping-cart3"></use>
      </svg>
    </a>
  </ul>
</div>

</div>

