  <header class="header">
        <div class="head-nav container">
         <nav class="header-nav">
             <a class="logo-svg" href="./index.html">
                <svg class="logo-header" width="16" height="16"><use href="../img/icons.svg#icon-vector9">
                </use>
                </svg>
            </a>
            <a class="logo link" href="./index.html">Veggieboost</a>    
         </nav>
         <button class="header-bt js-open-menu" aria-expanded="false"
         aria-controls="mobile-menu" tupe="button"><svg class="logo-header" width="24" height="24"><use href="../img/icons.svg#icon-gg_menu-left">
        </use>
        </svg>
    </button>
</div>

</header>
