<div class="backdrop">
  <div class="modal">
      <button type="button" class="modal-btn">
          <svg class="modal-close" width="28" height="28">
              <use href="./imiges/icons.svg#icon-close"></use>
          </svg>
      </button>
      <div class="modal-title">Your Order</div>
      <ul class="modal-products">
          <li class="modal-products-item">
              <div class="modal-checkbox"></div>
              <div >
                  <h3 class="modal-products-subtitle">Cabbage Basket</h3>
                  <p class="modal-products-text">Plant</p>

              </div>

              <img src="./imiges/modal-mob-cabbage.png" alt="cabbage">
          </li>
          <li class="modal-products-item">
              <div class="modal-checkbox"></div>
              <h3 class="modal-products-subtitle">Tomato Basket</h3>
              <p class="modal-products-text">Plant</p>
              <img src="./imiges/modal-mob-tomato.png" alt="tomato">
          </li>
          <li class="modal-products-item">
              <div class="modal-checkbox"></div>
              <h3 class="modal-products-subtitle">Vegetables Basket</h3>
              <p class="modal-products-text">Plant</p>
              <img src="./imiges/modal-mob-vegetables.png" alt="tomato">
          </li>
      </ul>
  </div>


</div>