<div class="backdrop is-hidden" data-modal>
  <div class="modal">
      <button type="button" class="modal-btn" data-modal-close>
          <svg class="modal-close" width="28" height="28">
              <use href="./img/icons.svg#icon-close"></use>
          </svg>
      </button>
      <h2 class="modal-title">Your Order</h2>
      <ul class="modal-products-list">
          <li class="modal-products-item">
              <div class="modal-checkbox">
                  <input
                  type="checkbox"
                  name="user-privacy"
                  id="user-privacy"
                  class="input-chek visually-hidden"
                  value="true"
                />
                <label for="user-privacy" class="check-text">
                  <span class="span-privasy">
                    <svg class="check-icon" width="16" height="16">
                      <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                  </span>

                </label>
              </div>
              <div class="modal-products-cart">
                  <h3 class="modal-products-subtitle">Cabbage Basket</h3>
                  <p class="modal-products-text">Plant</p>

              </div>

              <img srcset="./img/modal-cabbage.png 1x,  ./img/modal-cabbage-2x.png  2x" src="./img/modal-cabbage.png" alt="cabbage">
          </li>
          <li class="modal-products-item">
              <div class="modal-checkbox">
                  <input
                  type="checkbox"
                  name="user-privacy"
                  id="user-privacy"
                  class="input-chek visually-hidden"
                  value="true"
                />
                <label for="user-privacy" class="check-text">
                  <span class="span-privasy">
                    <svg class="check-icon" width="16" height="16">
                      <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                  </span>

                </label>
              </div>
              <div class="modal-products-cart">
                  <h3 class="modal-products-subtitle">Tomato Basket</h3>
                  <p class="modal-products-text">Plant</p>
              </div>

              <img srcset="./img/modal-tomato.png  1x,  ./img/modal-tomato-2x.png  2x" src="./img/modal-tomato.png" alt="tomato">
          </li>
          <li class="modal-products-item">
              <div class="modal-checkbox">
                  <input
                  type="checkbox"
                  name="user-privacy"
                  id="user-privacy"
                  class="input-chek visually-hidden"
                  value="true"
                />
                <label for="user-privacy" class="check-text">
                  <span class="span-privasy">
                    <svg class="check-icon" width="16" height="16">
                      <use href="./images/icons.svg#icon-check"></use>
                    </svg>
                  </span>

                </label>
              </div>
              <div class="modal-products-cart">
                  <h3 class="modal-products-subtitle">Vegetables Basket</h3>
                  <p class="modal-products-text">Plant</p>
              </div>

              <img srcset="./img/modal-vegetables.png 1x, ./img/modal-vegetables-2x.png 2x" src="./img/modal-vegetables.png" alt="tomato">
          </li>
      </ul>

      <div class="modal-user-block">
          <div class="modal-form">
              <input type="text" name="user-name" class="modal-input" required placeholder="Enter full name...">
              <input type="email" name="user-email" class="modal-input" required placeholder="Enter email...">
              <input type="text" name="user-card" class="modal-input" required placeholder="Enter card..">
              <textarea name="user-comment" id="user-comment"  placeholder="Enter comments..." class="modal-textarea"></textarea>
              <button type="submit" class="modal-form-btn">Submit</button>
          </div>
          <div class="modal-girl">
              <img srcset="./img/modal-girl.png 1x, ./img/modal-girl-2x.png  2x" src="./img/modal-girl.png" alt="girl">
          </div>
      </div>
  </div>
</div>
