<div class="backdrop is-hidden" data-modal>
  <div class="modal">
      <button type="button" class="modal-btn" data-modal-close>
          <svg class="modal-close" width="28" height="28">
              <use href="./img/modal/icons.svg#icon-x4"></use>
          </svg>
      </button>
      <h2 class="modal-title">Your Order</h2>
      <ul class="modal-products-list">
          <li class="modal-products-item">
              <div class="modal-checkbox">
                  <input
                  type="checkbox"
                  name="user-privacy"
                  id="user-privacy"
                  class="input-check visually-hidden"
                  value="true"
                />
                <label for="user-privacy" class="check-text">
                  <span class="span-privasy">
                    <svg class="check-icon" width="16" height="16">
                      <use href="./img/modal/icons.svg#icon-pick"></use>
                    </svg>
                  </span>
                </label>
              </div>
              <div class="modal-products-cart">
                  <h3 class="modal-products-subtitle">Cabbage Basket</h3>
                  <p class="modal-products-text">Plant</p>
              </div>
              <img srcset="./img/modal/modal-cabbage.png 1x,  ./img/modal/modal-cabbage2x.png  2x" src="./img/modal/modal-cabbage.png" alt="cabbage">
          </li>

          <li class="modal-products-item">
              <div class="modal-checkbox">
                  <input
                  type="checkbox"
                  name="user-privacy2"
                  id="user-privacy2"
                  class="input-check visually-hidden"
                  value="true"
                />
                <label for="user-privacy2" class="check-text">
                  <span class="span-privasy">
                    <svg class="check-icon" width="16" height="16">
                      <use href="./img/modal/icons.svg#icon-pick"></use>
                    </svg>
                  </span>
                </label>
              </div>
              <div class="modal-products-cart">
                  <h3 class="modal-products-subtitle">Tomato Basket</h3>
                  <p class="modal-products-text">Plant</p>
              </div>
              <img srcset="./img/modal/modal-tomato.png  1x,  ./img/modal/modal-tomato2x.png  2x" src="./img/modal/modal-tomato.png" alt="tomato">
          </li>

          <li class="modal-products-item">
              <div class="modal-checkbox">
                  <input
                  type="checkbox"
                  name="user-privacy3"
                  id="user-privacy3"
                  class="input-check visually-hidden"
                  value="true"
                />
                <label for="user-privacy3" class="check-text">
                  <span class="span-privasy">
                    <svg class="check-icon" width="16" height="16">
                      <use href="./img/modal/icons.svg#icon-pick"></use>
                    </svg>
                  </span>
                </label>
              </div>
              <div class="modal-products-cart">
                  <h3 class="modal-products-subtitle">Vegetables Basket</h3>
                  <p class="modal-products-text">Plant</p>
              </div>
              <img srcset="./img/modal/modal-vegetables.png 1x, ./img/modal/modal-vegetables2x.png" src="./img/modal/modal-vegetables.png" alt="tomato">
          </li>
      </ul>

<div class="modal-user-block">
          <div class="modal-form">
              <input type="text" name="user-name" class="modal-input" required placeholder="Enter full name..." pattern="[a-zA-Z]+" minlength="3">
              <input type="email" name="user-email" class="modal-input" required placeholder="Enter email..." pattern="\S+@\S+\.\S+" required>
              <input type="text" name="user-card" class="modal-input" required placeholder="Enter card.." pattern="^[0-9]+$" minlength="16">
              <textarea name="user-comment" id="user-comment"  placeholder="Enter comments..." class="modal-textarea"></textarea>
              <button type="submit" class="modal-form-btn">Submit</button>
          </div>
          <div class="modal-girl">
          </div>
      </div>
  </div>
</div>

</div>
