<section id="operations" class="operations-section">
  <div class="operations-container container-op">
    <div class="operations-motto">
      <h2 class="operations-title">
        To order your vegetable basket, simply follow these easy steps
      </h2>
      <picture class="photo-broccoli">
        <source
          srcset="
            ./img/operations/macro-cabbage-mobile.png 1x,
            ./img/about/macro-cabbage-mobile@2x.png   2x
          "
          media="(max-width:767.99px)"
          type="image/png"
        />

        <source
          srcset="
            ./img/operations/macro-cabbage-tablet.png 1x,
            ./img/about/macro-cabbage-tablet@2x.png   2x
          "
          media="(max-width:1279.99px)"
          type="image/png"
        />

        <source
          srcset="
            ./img/operations/macro-cabbage-pc.png 1x,
            ./img/about/macro-cabbage-pc@2x.png   2x
          "
          media="(min-width:1280px)"
          type="image/png"
        />

        <img
          src="./img/operations/macro-cabbage-mobile.png"
          alt="Macro picture of broccoli"
        />
      </picture>
    </div>
    <ul class="operation-text">
      <li class="operation-item">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </li>
      <li class="operation-item">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </li>
    </ul>

    <div class="instruction-container container-op">
      <div class="instruction-table">
        <h3 class="instruction-title">
          3 Easy Steps for Buying Fresh Vegetables
        </h3>
        <ol class="instruction-list">
          <li class="instruction-item">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </li>
          <li class="instruction-item">
            Click on the basket and fill out the form.
          </li>
          <li class="instruction-item">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </li>
        </ol>
      </div>
      <picture class="photo-girl">
        <source
          srcset="
            ./img/operations/girl-bokchoy-mobile.png    1x,
            ./img/operations/girl-bokchoy-mobile@2x.png 2x
          "
          media="(max-width:767.99px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/operations/girl-bokchoy-tablet.png    1x,
            ./img/operations/girl-bokchoy-tablet@2x.png 2x
          "
          media="(max-width:1279.99px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/operations/girl-bokchoy-pc.png        1x,
            ./img/operations/girl-bokchoy-tablet@2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img
          src="./img/operations/girl-bokchoy-pc.png"
          alt="Girl with bokchoy"
        />
      </picture>
    </div>
  </div>
</section>
