<section class="recall">
  <div class="recall-container">
    <div class="submit-container">
      <h2 class="recall-title">
        Fresh Harvest Box has<br />
        got you covered
      </h2>
      <p class="recall-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <form action="" class="form-recall">
        <input
          type="tel"
          class="recall-input"
          placeholder="+380 ()"
          required
          title="+380 ()"
          minlength="13"
          maxlength="13"
        />
        <button type="submit" class="recall-btn">Recall</button>
      </form>
    </div>
    <div class="recall-image-container">
      <div class="imagine-container">
        <picture>
          <source
            srcset="./img/img-recall/tab/img_girl_tab.webp"
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/img-recall/img_girl.webp"
            type="image/webp"
            media="(min-width: 375px)"
          />
          <source
            srcset="./img/img-recall/tab/img_girl_des.webp"
            type="image/webp"
            media="(min-width: 1280px)"
          />
          <img
            class="imagine-girl"
            src="./img/img-recall/des/img_girl_des.webp"
            alt="girl"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
