<section class="recall">
    <div class="container">
        <div class="submit-container">
            <h2 class="recall-title">Fresh Harvest Box has got you covered</h2>
            <p class="recall-text">Our boxes are packed with delicious, nutritious vegetables, perfect for
                anyone looking to eat healthier or support local
                farmers. Order your box today and start enjoying the best that nature has to offer!
            </p>
            <form action="" class="form-recall">
                <input type="tel" class="recall-input" placeholder="+380()" pattern="">
                <button type="submit" class="recall-btn">Recall</button>
            </form>
        </div>
        <div class="image-container">
            <svg class="image-icon">
                <use href="../img/img-recall/symbol-defs.svg#icon-Ellipse-9" width="5" height="5"></use>
            </svg>
        </div>
    </div>
    </div>

</section>