<!-- <load src="/vegetables.html" /> -->

<section class="vegetables-container" id="vegetables">
  <div class="vegetables-div">
    <h2 class="vegetables-secondary-heading">ORGANIC VEGETABLES</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <!-- carrot -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Carrot</h3>
        <p class="vegetables-list-text">Plant</p>
        <div class="vegetables-image-container">
          <img
            class="vegetables-image"
            srcset="
              ./img/vegetables/carrot.png   1x,
              ./img/vegetables/carrot@2.png 2x
            "
            alt="carrot"
            width="321"
            height="261"
          />
        </div>
        <p class="vegetables-price-text">100 UAH / kg</p>
      </li>
      <!-- brussel sprouts -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Brussel sprouts</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="
            ./img/vegetables/brussel.png   1x,
            ./img/vegetables/brussel@2.png 2x
          "
          alt="brussel sprouts"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">80 UAH / kg</p>
      </li>
      <!-- tomato -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Tomato</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="
            ./img/vegetables/tomato.png   1x,
            ./img/vegetables/tomato@2.png 2x
          "
          alt="tomato"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">40 UAH / kg</p>
      </li>
      <!-- Eggplant -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Eggplant</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="
            ./img/vegetables/eggplant.png   1x,
            ./img/vegetables/eggplant@2.png 2x
          "
          alt="eggplant"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">60 UAH / kg</p>
      </li>
      <!-- Sweet potatoes -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Sweet potatoes</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="
            ./img/vegetables/potatoes.png   1x,
            ./img/vegetables/potatoes@2.png 2x
          "
          alt="sweet potatoes"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">80 UAH / kg</p>
      </li>
      <!-- Leek -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Leek</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="./img/vegetables/leek.png 1x, ./img/vegetables/leek@2.png 2x"
          alt="leek"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">50 UAH / kg</p>
      </li>
      <!-- Mushrooms -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Mushrooms</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="
            ./img/vegetables/mushrooms.png   1x,
            ./img/vegetables/mushrooms@2.png 2x
          "
          alt="Mushrooms"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">40 UAH / kg</p>
      </li>
      <!-- Corn -->
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Corn</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="./img/vegetables/corn.png 1x, ./img/vegetables/corn@2.png 2x"
          alt="Corn"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">60 UAH / kg</p>
        <!-- radish -->
      </li>
      <li class="vegetables-list-item">
        <h3 class="vegetables-third-heading">Radish</h3>
        <p class="vegetables-list-text">Plant</p>
        <img
          class="vegetables-image"
          srcset="
            ./img/vegetables/radish.png   1x,
            ./img/vegetables/radish@2.png 2x
          "
          alt="Corn"
          width="321"
          height="261"
        />

        <p class="vegetables-price-text">60 UAH / kg</p>
      </li>
    </ul>

    <div class="order-btn-cont">
      <button class="vegetables-order-btn" type="button" data-modal-open3>
        <span class="vegetables-btn-span"
          ><svg class="vegetables-button-icon" width="14" height="14">
            <use
              href="./img/vegetables/veggieicons.svg#icon-vegetablespointer"
            ></use></svg></span>ORDER
      </button>
    </div>
  </div>
</section>
