.container-op {
  max-width: 375px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}
.operations-section {
  margin-top: 80px;
}
.operations-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.operations-motto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.operations-title {
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}
.photo-broccoli {
  border-radius: 100px;
}
.operation-text {
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.instruction-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../img/operations/polkadot.svg);
  background-color: #faf3e7;
  background-repeat: repeat;
  background-position: -12px -10px;
  border-radius: 40px;
  margin-top: 80px;
}
.instruction-title {
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  padding-top: 40px;
  margin: 0;
  max-width: 295px;
}

.instruction-list {
  counter-reset: myCounter;
  padding: 20px 40px 20px 0px;

  display: flex;
  flex-direction: column;
  gap: 21px;
  list-style-position: outside;
  margin: 0;
}

.instruction-item {
  list-style: none;
  position: relative;
  padding-left: 53px;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.72px;
  max-width: 228px;
}
.instruction-item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #141414;
  background-color: #a1c487;
  border-radius: 50%;
  display: block;
  position: absolute;
  text-align: center;
  line-height: 38px;
  width: 40px;
  height: 38px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.instruction-list :not(:first-child):not(:last-child) {
  max-width: 219px;
}
.photo-girl {
  max-width: 258px;
  margin: 0 auto;
}

/*==================MOBILE MEDIA==================*/
@media screen and (min-width: 375px) {
  .container-op {
    max-width: 375px;
  }
}
/*==================TABLET MEDIA==================*/
@media screen and (min-width: 768px) {
  .container-op {
    max-width: 768px;
    padding: 0px 32px;
  }
  .operations-section {
    margin-top: 100px;
  }
  .operations-container {
    gap: 40px;
  }
  .operations-motto {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }
  .operations-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
    max-width: 386px;
  }
  .photo-broccoli {
    flex-shrink: 0;
    max-width: 310px;
  }
  .operation-text {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.72px;
  }
  .operation-item {
    flex-shrink: 0;
    max-width: 320px;
  }
  .operation-text .operation-item:last-child {
    max-width: 279px;
  }
  .instruction-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 40px 0 0;
    margin: 60px 0 0 0;
    width: 100%;
  }
  .instruction-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }

  .instruction-list {
    gap: 24px;
    padding-top: 0;
    margin-bottom: 0;
    width: 275px;
  }
  .instruction-table {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .instruction-item {
    max-width: 225px;
  }
  .instruction-item::before {
    width: 46px;
    height: 44px;
  }
  .instruction-list :not(:first-child):not(:last-child) {
    max-width: 219px;
  }
  .photo-girl {
    max-width: 350px;
    max-height: 446px;
    margin-bottom: 0;
  }
}

/*==================DESKTOP MEDIA==================*/
@media screen and (min-width: 1280px) {
  .container-op {
    max-width: 1280px;
  }
  .operations-section {
    margin-top: 124px;
  }
  .operations-motto {
    gap: 192px;
    justify-content: flex-start;
  }
  .operations-title {
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
    max-width: 614px;
  }
  .photo-broccoli {
    flex-shrink: 0;
    max-width: 410px;
  }
  .operation-text {
    max-width: 687px;
    letter-spacing: -0.045em;
    gap: 40px;
  }
  .operation-item {
    flex-shrink: 0;
    max-width: 339px;
    letter-spacing: -0.12;
  }
  .operation-text .operation-item:last-child {
    max-width: 294px;
  }
  .instruction-container {
    width: 100%;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 110px;
    justify-content: space-evenly;
  }
  .instruction-table {
    gap: 40px;
  }
  .instruction-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
    max-width: 512px;
  }
  .instruction-list {
    gap: 28px;
    width: 380px;
  }
  .instruction-item {
    max-width: 380px;
    letter-spacing: -0.56px;
  }
  .instruction-list :not(:first-child):not(:last-child) {
    max-width: 219px;
  }
}
