.recall {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.recall-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recall-title {
  width: 323px;
  height: 56px;
  color: var(--primary-color);
  text-align: center;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
}

.recall-text {
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.form-recall {
  display: flex;
  flex-direction: row;
}

.recall-input {
  border: 1px solid #c1bdbd;
  border-radius: 100px;
  width: 335px;
  height: 48px;
  padding: 15px 0 15px 24px;
}

.recall-btn {
  border-radius: 100px;
  background-color: #fc8a11;
  color: #ffffff;
  border: none;
  margin-left: -114px;
  padding: 15px 35px;
}
.recall-btn:is(:hover, :focus) {
  color: #fc8a11;
  background-color: transparent;
  border-color: #fc8a11;
}

.recall-input::placeholder {
  color: #c1bdbd;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.submit-container {
  width: 335px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.recall-image-container {
  width: 335px;
  height: 388px;
  border-radius: 40px;
  background-color: #faf3e7;
  max-width: 100%;
  background-image: url(../img/img-recall/polkadot.svg);
  background-repeat: repeat;
  background-position: -12px -10px;
}

.imagine-container {
  position: absolute;
  margin-top: 30px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .recall {
    padding-bottom: 173px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .recall-title {
    width: 524px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.6px;
  }
  .recall-text {
    width: 499px;
    height: 96px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
  }
  .form-recall {
    width: 350px;
    height: 48px;
  }
  .recall-image-container {
    width: 704px;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .imagine-container {
    margin: 0;
  }
  .submit-container {
    width: 524px;
    height: 292px;
    margin-bottom: 80px;
    padding-bottom: 0;
  }
  .imagine-girl {
    width: auto;
    height: 446px;
  }
}
@media screen and (min-width: 1280px) {
  .recall {
    padding-bottom: 124px;
  }
  .recall-container {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 77px;
  }
  .submit-container {
    width: 614px;
    height: 340px;
    align-items: start;
    gap: 40px;
    margin-bottom: 0;
  }
  .recall-title {
    width: 614px;
    height: 100px;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -1.92px;
    text-align: left;
  }
  .recall-text {
    width: 523px;
    height: 72px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
    text-align: left;
    margin-bottom: 40px;
  }

  .recall-image-container {
    width: 525px;
    height: 526px;
  }
  .imagine-girl {
    width: 459px;
    height: auto;
  }
}

